@import url(style_home.css);
.back_im
.container{

    /* background-image: url(../img/company.jpg); */
}
.section1_shoping{
 /* display: flex; */
     /* margin-top: 100px; */
    background-size: 100%;
    background-image: url(../img/callcenter_1.jpg);
    background-size: 55%;
    background-position: center;
    background-repeat: no-repeat;
    height: 1000px;
    z-index: 10;
}
.section1_shoping_text{
    margin: 30px;
    font-size: larger;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section1_shoping_info{
    
width: 24%;

}
.section1_shoping_info_name{
    margin: 30px;
    display: flex;
    height: 150px;
    width: 100%;
    border-bottom: 2px solid #478CCF ;
    z-index: -1;
}
.section1_shoping_info_name.end {
    border-bottom: 0px ;
   
}
.section1_shoping_info_name img{
    width: 60px;
    height: 60px;
    margin-right: 30px;
}



.section1_shoping_info_name h3 {
    position: absolute;
    height: 30px;
    margin-right: 100px;
    color:#478CCF ;
    
    
}
.section1_shoping_info_name p {
    position: absolute;
    display: flex;
    font-size: 20px;
    font-weight: bold;
    margin-right: 40px;
    
}
@media screen and (max-width : 985px) {

    .section1_shoping{
        background-color: #F3FAFF;
        margin-top: 15vh;
        height: 100%;
        background-image: none;
    }

.section1_shoping_text{
    display: flex;
    align-content: center



}
.section1_shoping_text p{
   
    font-size: 15px;
    text-align: center;



}
.section1_shoping_info{

    width: 95%;
}





}